@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Dosis:wght@200&family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #282d32;
}

#header-container {
  background-color: rgba(0, 0, 0, 0.3);
  width: 110vw;
  display: table-cell;
  z-index: 100;
  background-image: url(../images/index/navigation_background.jpg);
  background-size: cover;
}

#header-container img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  margin-left: 100px;
  margin-right: 10px;
  padding: 0;
  height: 50px;
  margin-top: 5px;
  float: left;
}

#navigation-menu a {
  text-shadow: 2px 2px 3px black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: white;
  font-family: "Comfortaa", cursive;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  height: 100%;
  line-height: 55px;
  padding-left: 2vw;
  padding-right: 2vw;
  transition: ease-in 100ms;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navigation-menu a:hover {
  text-shadow: 0px 0px 8px white;
  background-color: rgba(100, 100, 100, 0.4);
}

#navigation-menu a:active {
  background-color: rgba(100, 100, 100, 0.3);
}

#navigation-menu a.active {
  background-color: rgba(100, 100, 100, 0.4);
}

#get-started {
  box-shadow: 0px 4px 8px black inset;
  height: auto;
  background-image: url(../images/index/first_panel.jpg);
  background-size: cover;
  padding: 80px;
}

#get-started h2,
#get-started p,
#get-started a,
#should-learn h2,
#should-learn p,
#should-learn a {
  animation: fade-in-animation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.panel-heading {
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  text-shadow: 1px 1px 20px black;
}

.description-text {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 23px;
  text-align: justify;
}

.start-button {
  text-align: center;
  background-color: rgb(253, 247, 239);
  border-radius: 28.5px;
  font-size: 18px;
  padding: 7.5px;
  padding-right: 30px;
  padding-left: 30px;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: black;
  font-family: "Roboto", sans-serif;
  transition: ease-in 150ms;
  box-shadow: 1px 1px 15px 0px black;
}

.start-button:hover {
  background-color: lightgray;
}

.start-button:active {
  background-color: gray;
}

#should-learn {
  box-shadow: -0px -0.3vw 8px black;
  text-align: left;
  background-image: linear-gradient(to right, rgb(37, 37, 37), rgb(5, 4, 4));
  padding: 80px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 5px black;
  text-align: justify;
}

#should-learn h2 {
  /* text-align: right; */
}

footer {
  background-color: #282d32;
  text-align: center;
  padding-top: 2vw;
  height: 150px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer th {
  color: white;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 19px;
  text-shadow: 0px 0px 5px black;
  font-family: "Segoe UI", sans-serif;
  padding-right: 10vw;
  padding-left: 10vw;
}

@media only screen and (max-width: 800px) {
  footer th {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

footer tr {
  text-align: center;
  font-size: 15px;
}

footer tr a {
  text-shadow: 0px 0px 5px black;
  text-decoration: none;
  color: gray;
  font-family: "Segoe UI", sans-serif;
  transition: ease-in 50ms;
}

footer tr a:hover {
  color: lightgray;
}

footer tr a:active {
  color: darkgray;
}

footer h5 {
  color: rgba(100, 100, 100, 0.5);
  font-size: 15px;
  font-family: "Segoe UI", sans-serif;
  position: absolute;
  margin-top: 170px;
  padding-bottom: 10px;
}
