h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto", sans-serif;
}

#lesson-wrapper {
  width: 100%;
  margin: 0;
  box-shadow: 0px 1px 0.3vw black inset;
  background-image: url(../images/references/background.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  box-shadow: inset 0 0 0 2000px rgba(10, 10, 10, 0.95);
}

#lesson-sidebar {
  height: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: "Segoe UI", sans-serif;
  background-color: lightgray;
  box-shadow: 0px 0px 0.3vw black;
  background-color: black;
  background-size: cover;
  color: white;
  float: left;
  width: 230px;
  margin-right: 50px;
}

#lesson-area {
  color: black;
  background-color: white;
  padding: 50px;
  box-shadow: -4px 3px 8px black inset;
  color: white;
  font-family: "Segoe UI";
  text-align: justify;
  background-color: rgb(0, 0, 0, 0.0);
}

hr {
  border: 0;
  border-top: 1px solid #222;
}

#lesson-sidebar a {
  text-decoration: none;
  padding: 3px 3px 3px 15px;
  color: white;
  text-align: left;
  transition: ease-in 10ms;
  display: block;
}

#lesson-sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.267);
}

#lesson-sidebar h2 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.15);
}

.previous-button,
.next-button {
  background-color: white;
  color: black;
  font-family: "Segoe UI", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  transition: ease-in 0.1s;
  float: left;
}

.next-button {
  float: right;
}

.previous-button span,
.next-button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next-button:hover span:after {
  opacity: 1;
  right: 0;
}

.previous-button:hover span:after {
  opacity: 1;
  left: 0;
}

.previous-button span,
.next-button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.previous-button:hover,
.next-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.next-button:hover span {
  padding-right: 25px;
}

.current-page {
  background-color: rgba(255, 255, 255, 0.2); 
}