
#lesson-wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    box-shadow: 0px 1px 0.3vw black inset;
}

#lesson-sidebar {
    width: 230px;
    padding-bottom: 20px;
    padding-top: 5px;
    font-family: 'Segoe UI', sans-serif;
    background-color: lightgray;
    float: left;
    height: 100%;
    box-shadow: 0px 0px 0.3vw black;
}

#lesson-area {
    float: left;
    overflow: hidden;
}

#lesson-sidebar a {
    display: flex;
    text-decoration: none;
    padding: 3px 3px 3px 15px;
    text-align: center;
    color: black;
}

#lesson-sidebar a:hover {
    background-color: rgb(185, 185, 185);
}

#lesson-sidebar h2 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}