* {
  margin: 0;
}

footer {
  /* Allakse to an valeis yliko stin selida */
  min-height: 40vh;
}

#references-container {
  box-shadow: 0px 0.3vw 8px black inset;
  padding: 20vw;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.2vw;
  text-align: justify;
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
  background-image: url(../images/references/background.jpg);
  background-size: cover;
}

#references-container a {
  text-shadow: 0px 0px 0px;
  color: gray;
  text-decoration: none;
  transition: ease-in 0.2s;
  text-shadow: 0px 0px 0.3vw gray;
  animation: fade-in-animation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#references-container a:hover {
  font-size: 1.22vw;
  color: lightgray;
  text-shadow: 0px 0px 0.3vw lightgray;
}

#references-container a:active {
  color: darkgray;
  text-shadow: 0px 0px 0.3vw darkgray;
}

#references-box {
  padding: 2.5vw;
  background-color: rgb(0, 0, 0, 0.9);
  box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.9);
}

#references-box h2 {
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  animation: fade-in-animation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#references-container p {
  --mrg: 2vw;
  margin-bottom: var(--mrg);
  margin-top: var(--mrg);
  animation: fade-in-animation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#references-container iframe {
  box-shadow: 0px 0px 8px black;
  display: flex;
  margin: auto;
  max-width: 40vw;
  animation: fade-in-animation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
